<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gestor de Tareas</title>

    <!-- ICONOS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />

    <!-- CSS PERSONAL -->
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>

        .app-header {
            background-color: blue;
            color: white;
            padding: 14px 0;
            box-shadow: 0 2px 6px rgba(0,0,0,0.15);
            position: sticky;
            top: 0;
            z-index: 999;
        }

        .main-content {
            max-width: 1100px;
            margin: 30px auto;
            padding: 0 18px;
            min-height: calc(100vh - 80px);
            display: block;
        }

        .nav-container {
            max-width: 1100px;
            margin: auto;
            padding: 0 18px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }


        .nav-title {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 1.2rem;
            font-weight: 700;
        }

            .nav-title i {
                font-size: 1.3rem;
                color: #88c2ff;
            }

        .nav-links {
            display: flex;
            gap: 20px;
        }

            .nav-links a {
                color: #d6e4f5;
                text-decoration: none;
                font-weight: 600;
                transition: 0.2s;
            }

                .nav-links a:hover {
                    color: #ffffff;
                }


        .nav-toggle {
            background: none;
            border: none;
            color: white;
            font-size: 1.6rem;
            display: none;
            cursor: pointer;
        }

    </style>
</head>

<body>
    <header class="app-header">
        <div class="nav-container">

            <div class="nav-title">
                <i class="fas fa-tasks"></i>
                <span>Gestor de Tareas Colaborativo</span>
            </div>

            <nav class="nav-links">
                <a asp-page="/Index">Inicio</a>
                <a asp-page="/Tareas/Index">Tareas</a>
            </nav>

        </div>
    </header>

    <!-- CONTENEDOR PRINCIPAL -->
    <main class="main-content">
        @RenderBody()
    </main>

    @await RenderSectionAsync("Scripts", required: false)

    <script>
        document.getElementById("navToggle").addEventListener("click", () => {
            document.getElementById("mobileMenu").classList.toggle("open");
        });
    </script>
</body>
</html>
